.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}